body
{
    background-color: rgb(200, 76, 50);
    
}

::selection
{
    background-color: rgb(47, 248, 255);
}


/*--------------------- Header Style ---------------------*/


header
{
    text-align: center;
    color: white;
    font-size: 2.2rem;
    margin-top: 35px;
}


/*--------------------- Content Style ---------------------*/


.container
{
    display: flex;
    justify-content: center;
    height: auto; 
    position: relative;
    transform: translateX(2rem) translateY(25px);
}

.content
{
    width: 25rem;
    height: 15rem;
    border-radius: 20px;
    padding: 15px 10px;
    background-color: rgb(218, 86, 55);
}

.content ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: auto;
    transform: translateX(-10px) translateY(10px) ;
}

.content ul li
{
    padding:13px ;
}

.content ul li a
{
    text-decoration: none;
    color: black;
}

.content ul li a:hover
{
    display: block;
    transform: scale(1.23);
}

.content ul li a span
{
    display: inline-block;
    transform: translateX(5px) translateY(5px);
}


/*--------------------- Menu Style ---------------------*/


nav ul
{
    position: absolute;
    right: 4em;
    bottom: -15px;
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: rgb(218, 86, 55)
    
}

nav ul li
{
    list-style-type: none;
    margin: 0 0 15px 0;
}

nav ul li a
{
    color: rgb(31, 30, 30);
    text-decoration: none;
}

nav ul li a:hover ,
.content ul li a:hover
{
    color: white;
    transition: all .2s;
}

nav ul li:first-child
{
    padding-top: 20px;
}

nav ul li:last-of-type
{
    margin: 0;
    padding-bottom: 20px;
}

nav ul li:nth-child(even)
{
    padding-top: 5px;
}

/*--------------------- Start Responsive ---------------------*/



@media (max-width: 768px)
{
    .container
    {
        flex-direction: column;
        align-items: center;
        transform: none;
    } 

    .menu 
    {
        position: static;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
    }

    li
    {
        padding: 8px;
    }
}

@media (min-width: 768px)
{
    .nav
    {
        position: relative;
        width: 100px;    
    }

    .menu
    {
        
        width: auto;
        max-width: 80%;
        height: auto;
        padding: 10px 25px;
        border-radius: 25px;
        background-color: rgb(218, 86, 55); 
        position: absolute;
        right:  0px;
    } 
}
